.App {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.movie-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}

.pagination {
  margin: 2rem;
}

.navbar {
  width: 100vw;
  height: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: monospace;
  font-weight: 500;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  margin-bottom: 2rem;
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .movie-list {
    flex-direction: column;
    width: 90%;
  }
}
